@font-face {
    font-family: GoogleSans;
    src: url(fonts/GoogleSans.TTF);
}

body {
    background-color: #001622;
    color: white;
    margin: 0;
    font-family: GoogleSans;
}

.navbar {
    background-color: #00273a;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

.navbar h2 {
    margin-left: 25px;
    font-family: GoogleSans;
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 5px;
}

.navbar ul {
    background-color: #00273a;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

.navbar li {
    float: left;
    background-color: #00273a;
    margin: 0;
}

.navbar .rightalign {
    float: right;
    background-color: #00273a;
}

.navbar #ralign {
    margin-right: 3%;
}

#grad {
    padding: 1%;
    background-image: linear-gradient(#00273a, #001622);
    margin-bottom: 0;
    margin-top: 1%;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #00273a;
    transition: 200ms;
    /* border-top-left-radius: 15%;
    border-top-right-radius: 15%; */
    border-radius: 5%;
    user-select: none;
}

.navbar li a:hover {
    background-color: #003f5e;
    transition: 200ms;
}