.content {
    margin-left: 2%;
    text-decoration: none;
}

h1 {
    font-size: xx-large;
    text-decoration: none;
}

h2 {
    font-size: larger;
    text-decoration: none;
}

.jmar, #yt, #iga {
    margin-left: 4px;
}

.socimed a {
    text-decoration: none;
    color: #1fb1ff;
}

.socimed div {
    margin-top: 5px;
}

.ig, .dc {
    margin-top: 5px;
}

.email a {
    text-decoration: none;
    color: #1fb1ff;
}